/**************************
* Common Code
**************************/

*{
	font-family: 'Anton', sans-serif;
	box-sizing:border-box;
}
body,html{
	margin:0;padding:0;
	width:100%;
	background-color: #282828;
	color: #fff;
}
.pageTitle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
	text-align: center;
	font-size: 6vmax;
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
.pageContent{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 2.6vmax;
	letter-spacing: 2px;
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	text-align: center;
}

/**************************
* Nanigation Control
**************************/
#controlPositions{
	position: absolute;
	bottom: 1px;
	width: 100%;
	text-align: center;
}
#navControlsRight{
    font-size: 50px;
	padding: 0vmin 2px 0vmin 9vmin;
}
#navControlsLeft{
    font-size: 50px;
	padding: 0vmin 9vmin 0vmin 2px;
}
#navControlsDown{
    font-size: 50px;
	padding: 0vmin 9vmin 0vmin 9vmin;
}
#navControlsUp{
	font-size: 50px;
	padding: 0vmin 9vmin 0vmin 9vmin;
}
/**************************
* Main Title Page
**************************/
